.chat {
  width: 50%;
  gap: 10px 10px;
  grid-template-columns: auto 200px;
}

.chat_name {
  grid-column: 1;
  margin: 5px;
}

.close_button {
  margin: 5px;
  grid-column: 2;
}

.chat_elem {
  grid-column: 1 / span 2;
}

.hover_elem {
  display: none;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: aliceblue;
}